body {
  margin: 0px 0px 0px 0px;
  background-color: #212121;
}

.entire_page {
  display: flex;
  justify-content: center;
  font-family: "pt_sans_captionregular";
}


.side_bar {
  background-color: #00838F;
  max-width: 400px;
  display: flex;
  flex-direction: column;

}

.side_bar_cell {
  margin: 40px 40px 40px 40px;
}

.side_bar_icones{
  margin-top: auto;
}

figure {
  text-align: center;
  margin: 60px 0px 50px 0px;
}

.profile_picture {
  border-radius: 50%;
  max-width: 230px;
  border: solid #006064 4px;
}

.side_bar_icons {
  display: flex;
  justify-content: space-around;
  color: #212121;
}

.side_bar_titles {
  text-align: center;
  background-color: #212121;
  font-size: 26px;
  color: #00838F;
  margin: 0 0 0 0;
}



.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
}

header {
  margin: 90px 0px 100px 70px;
}

.name {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

.first_name {
  color: #00838F;
}

.name_comment {
  font-size: 26px;
  margin: 0px;
  padding: 0px;
}

.name_comment_underline {
  border-bottom: solid #00838F 2px;
}

.main_cell {
  margin: 0px 70px 20px 70px;
}

.main_titles {
  border-bottom: solid #00838F 2px;
  font-size: 26px;
}

.main_cell_bloc {
  display: flex;
  justify-content: space-between;
}

.main_date {
  min-width: 116px;
  display: flex;
  margin: 16px 0px 0px 0px;

}

.main_icons {
  color: #00838F;
  padding-right: 30px;
}

.main_description {
  margin: 10px 0px 16px 60px ;
}

.main_date_dot {

  color: #00838F;
  margin: 0px 15px 0px 0px;
}

.style_bold {
  font-weight: bold;
}

p {
  margin: 5px 0px 5px 0px;
}
a{
  color:#212121;
  display: block;
  margin: 0px 0px 20px 0px;

}

@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('fonts/PTC55F-webfont.eot');
    src: url('fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTC55F-webfont.woff2') format('woff2'),
         url('fonts/PTC55F-webfont.woff') format('woff'),
         url('fonts/PTC55F-webfont.ttf') format('truetype'),
         url('fonts/PTC55F-webfont.svg#pt_sans_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}








@media screen and (max-width:720px) {

  .entire_page {
    flex-direction: column;
  }
  .side_bar {
    max-width: none;
    width: auto;
  }
  .main_cell{
    margin: 0px 15px 0px 15px;
  }
  .main_cell_bloc{
    flex-direction: column-reverse;
    margin: 0px 0px 15px 0px;
  }
  .main_description{
    margin: 0px 0px 0px 0px;
  }

  .main_date{margin: 0px 0px 18px 0px;}
}
